<div *ngIf="showPreview" class="card-header">
    Preview
</div>
<div *ngIf="product.title" class="card">
  <img class="card-img-top" [src]="product.imageUrl">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'AUD' }}</p>
  </div>
  <div 
    *ngIf="showAddCart && shoppingCart" 
    class="card-footer">
    <button 
    *ngIf="shoppingCart.getQuantity(product) === 0; else showChangeButton"
    class="btn btn-secondary btn-block"
    (click)="addToCart()">Add to cart</button>
    <ng-template #showChangeButton>
      <product-quantity [shopping-cart]="shoppingCart" [product]="product"></product-quantity>
    </ng-template>
  </div> 
</div>
