#qty{
    text-align: center;
    width: 14em;
}

#price{
    text-align: right;
    width: 12em;
}

.thumbnail{
    height: 5em;
    width: 5em;
    border-radius: 100%;
    background-size: cover;
}

.disabled{
    cursor: not-allowed;
}

.table {
    margin-top: 2%;
}