#qty{
    text-align: center;
    width: 230px;
}

#price{
    text-align: right;
    width: 200px;
}

.thumbnail{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-size: cover;
}

.disabled{
    cursor: not-allowed;
}

.table {
    margin-top: 2%;
}