<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New product</a>    
</p>

<p>
    <input #search (keyup)="filter(search.value)" class="form-control" type="text" placeholder="Search...">    
</p>

<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItem($event)"
>

<data-table-column
    [property]="'title'"
    [header]="'Title'"
    [resizable]="true"
    [sortable]="true">
</data-table-column>
<data-table-column
    [property]="'price'"
    [header]="'Price'"
    [resizable]="true"
    [sortable]="true">
    <ng-template #dataTableCell let-item="item">
        <span> {{ item.price | currency:'AUD' }} </span>
    </ng-template>
</data-table-column>
<data-table-column
    [property]="'key'">
    <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/admin/products/', item.key]">Edit</a>        
    </ng-template>
</data-table-column>


</data-table>
