<div class="row">
  <div class="col-3 d-flex" id="productFilter">
    <products-filter [category]="category"></products-filter>
  </div>
  <div class="col">
    <div *ngIf="shoppingCart$ | async as shoppingCart" class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card [product]="p" [show-preview]="false" [shopping-cart]="shoppingCart"></product-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100">
        </div>
      </ng-container>
    </div>
  </div>
</div>
